.App {
  align-items: center;
  background: white;
  display: grid;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

.red {
  background: red;
  color: white;
}

.blue {
  background: blue;
  color: white;
}
.purple {
  background: rebeccapurple;
  color: white;
}

.yellow {
  background: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
